/* Importa las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Resetea el padding y margen de todos los elementos a 0 */
* {
    padding: 0;
    margin: 0;
}

/* Estilo del cuerpo del documento */
body {
    box-sizing: border-box; /* Ajusta el box model para incluir padding y border en el tamaño total */
    background-color: #000000; /* Color de fondo negro */
    color: #F6F6F6; /* Color del texto en blanco */
}

/* Estilo de la cabecera */
.header {
    padding: 2% 0% 0% 15%; /* Padding superior y a la izquierda */
}

/* Estilo del menú en la cabecera */
.header__menu {
    display: flex; /* Usa flexbox para el diseño */
    gap: 80px; /* Espacio entre elementos del menú */
}

/* Estilo de los enlaces del menú */
.header__menu__link {
    color: #22D4FD; /* Color azul claro */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    font-weight: 600; /* Fuente en negrita */
    text-decoration: none; /* Sin subrayado */
}

/* Estilo para títulos destacados */
.titulo-destaque {
    color: #22D4FD; /* Color azul claro */
}

/* Estilo de la sección de presentación */
.presentacion {
    padding: 5% 15%; /* Padding alrededor */
    display: flex; /* Usa flexbox para el diseño */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between; /* Espacia los elementos horizontalmente */
    gap: 82px; /* Espacio entre los elementos */
}

/* Estilo del contenido en la sección de presentación */
.presentacion__contenido {
    width: 50%; /* Ancho del 50% */
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Coloca los elementos en una columna */
    gap: 40px; /* Espacio entre los elementos */
}

/* Estilo del título en el contenido de presentación */
.presentacion__contenido__titulo {
    font-size: 2.5rem; /* Tamaño de fuente grande */
    font-family: 'Krona One', sans-serif; /* Fuente Krona One */
}

/* Estilo del texto en el contenido de presentación */
.presentacion__contenido__texto {
    font-size: 1.5rem; /* Tamaño de fuente grande */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
}

/* Estilo de los enlaces en la sección de presentación */
.presentacion__enlaces {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: space-between; /* Espacia los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 32px; /* Espacio entre los elementos */
}

/* Estilo del subtítulo en los enlaces de presentación */
.presentacion__enlaces__subtitulo {
    font-family: 'Krona One', sans-serif; /* Fuente Krona One */
    font-weight: 400; /* Fuente normal */
    font-size: 1.5rem; /* Tamaño de fuente grande */
}

/* Estilo de los enlaces en la presentación */
.presentacion__enlaces__link {
    border: 2px solid #22D4FD; /* Borde azul claro */
    width: 50%; /* Ancho del 50% */
    text-align: center; /* Texto centrado */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    font-weight: 600; /* Fuente en negrita */
    padding: 21.5px 0; /* Padding arriba y abajo */
    text-decoration: none; /* Sin subrayado */
    color: #F6F6F6; /* Color del texto en blanco */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    display: flex; /* Usa flexbox para el diseño */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
}

/* Estilo de los enlaces al pasar el ratón */
.presentacion__enlaces__link:hover {
    background-color: #272727; /* Color de fondo oscuro */
    color: #000000; /* Color del texto negro */
}

/* Estilo de la imagen en la presentación */
.presentacion__imagen {
    width: 50%; /* Ancho del 50% */
}

/* Estilo del pie de página */
.footer {
    background-color: #22D4FD; /* Color de fondo azul claro */
    text-align: center; /* Texto centrado */
    color: #000; /* Color del texto negro */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    font-weight: 400; /* Fuente normal */
    padding: 1.5rem; /* Padding alrededor */
}

/* Estilos para pantallas con un ancho máximo de 1200px */
@media (max-width: 1200px) {
    .header {
        padding: 5%; /* Aumenta el padding */
    }

    .header__menu {
        justify-content: center; /* Centra el menú horizontalmente */
    }
    
    .presentacion {
        flex-direction: column-reverse; /* Cambia la dirección del diseño a columna inversa */
        padding: 5%; /* Aumenta el padding */
    }

    .presentacion__contenido {
        width: auto; /* Ajusta el ancho automáticamente */
    }
}
